<html lang="en">
<head>
	
   
</head>
<body>
    <div class="container">
        <h2>TODO LIST</h2>
        <h3>Add Item</h3>
        <form action="/addTodo" method="POST">
            <p>
                <input id="new-task" name="newtask" type="text">
                <button>Add</button>
            </p>
        </form>

        <h3>Todo</h3>
        <ul id="incomplete-tasks">
            {{#each todos}}
            <li>
                <input type="checkbox">
                <label>{{this.description}}</label>
                <input type="text">
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </li>
            {{/each}}
        </ul>

        <h3>Completed</h3>
        <ul id="completed-tasks">
            <li>
                <input type="checkbox" checked>
                <label>See the Doctor</label>
                <input type="text">
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </li>
        </ul>
    </div>

    <script src="/src/todo.js"></script>
</body>
</html>
